In [1]:
import numpy as np
import pandas as pd
from ucimlrepo import fetch_ucirepo

In [2]:
# fetch dataset 
online_retail = fetch_ucirepo(id=352) 
  
# data (as pandas dataframes) 
data = pd.concat([online_retail.data.features, online_retail.data.targets ], axis=1)
data

,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...
541904,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [3]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

# data['Description'] = data[col].astype('category')
# data['CustomerID'] = data['CustomerID'].astype('category')
# data['Country'] = data['CustomerID'].astype('category')

data['Quantity'] = pd.to_numeric(data['Quantity'], downcast = 'integer')
data['UnitPrice'] = pd.to_numeric(data['UnitPrice'], downcast='float')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Description  540455 non-null  object
 1   Quantity     541909 non-null  int32
 2   InvoiceDate  541909 non-null  datetime64[ns]
 3   UnitPrice    541909 non-null  float64
 4   CustomerID   406829 non-null  float64
 5   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(1), object(2)
memory usage: 22.7+ MB

In [5]:
data.to_parquet('../../data/online_retail.parquet', compression = 'zstd')